.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid black;
    cursor: pointer;
}

.example-sidenav {
    background-color: rgb(144, 129, 223, .4);
}
  
.example-button-row {
    display: flex;
    align-items: left;
}
  
.mat-button {
    text-align: left;
    display: block;
}